
<p>ddd</p>
<script src ='/src.js'></script>
<script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM1F4wLFiVOwH0xbOfk9xDvJS_TkopcKc&libraries=places&callback=initMap"
></script>